:root {
    --leftside: 200px;
    --header: 120px;
    --back-1:rgb(18, 17, 32);
    --back1:rgb(34, 32, 52);
    --back2:rgb(59, 57, 80);
    --back3:rgb(83, 81, 112);
    --front1:rgb(203, 219, 252);
    --front2:rgb(165, 152, 170);
}

*, ::before, ::after {
    margin: 0;
    font-family: 'Times New Roman', Helvetica, sans-serif;
    font-weight: 900;
    color: var(--front1);
}


body {
    background-color: var(--back1);
    height: 100vh;
    width: 100vw;
}

img {
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated;                 /* Chrome                         */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

#sidebar {
    width: var(--leftside);
    background-color: var(--back-1);
    position: fixed;
    left: 0;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 5fr 3fr;
    box-shadow: 3px 0px 10px black;
}

#sidebar div, #sidebar h1 {
    padding: 20px;
}

h1 {
    width: 150px;
    margin: auto;
}

#sidebar div {
    display: grid;
    grid-template-columns: 1fr;
}

#the_rest_of_the_page {
    margin-left: var(--leftside);
}

header {
    height: var(--header);
    position: fixed;
    top: 0;
    width: calc(100vw - var(--leftside));
    background-color: var(--back2);
    box-shadow: 3px 0px 10px black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

#searchbar {
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    border-radius: 8px;
    background-color: var(--back3);
    width: 50vw;
}

#searchbar:focus {
    outline: solid 1px var(--front2);
}

#upperside {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#icons {
    display: flex;
    align-items: center;
    margin: 0 40px;
    gap: 20px;
}

#icons img {
    max-width: 40px;
}

#righthalf {
    display: flex;
    gap: 5px;
    align-items: center;
}

#righthalf div {
    display: flex;
    gap: 5px;
    justify-content: center;
    flex-direction: column;
}

#lefthalf {
    padding: 20px;
}

#lefthalf * {
    margin: 10px;
    width: 80px;
    height: 30px;
    background-color: var(--back3);
    border-radius: 30px;
    border: 2px solid var(--back1);
}

#lefthalf *:active {
    border: 2px solid var(--back3);
    background-color: var(--front1);
}

#bottomside {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#main {
    padding-top: calc(var(--header) + 30px);
    display: flex;
}

#left {
    height: 100%;
    width: 70%;
    margin: 10px;
}

#right {
    height: 100%;
    width: 30%;
    margin: 10px;
}

.center {
    padding: 20px 10px;
    font-size: 18px;
}

.task {
    width: 250px;
    height: 100px;
    background: linear-gradient(90deg, var(--back-1) 10px, var(--back3) 11px);
    border-radius: 5px;
}

.task * {
    padding: 5px 15px;
}

#tasks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
}

#announcement, #tranding {
    background-color: var(--back3);
    border-radius: 5px;
    text-align: justify;
    margin-bottom: 20px;
}

#announcement * {
    padding: 5px 15px;
}

#announcement hr {
    padding: 0;
    width: 90%;
    margin: auto;
}

p {
    color: var(--front2);
    font-size: 14px;
}

#tranding {
    display: flex;
    align-items: center;
}

.avatar {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin: 10px;
}